{
    // ...
    "extends": "react-app",
    "rules": {
        "indent": ["warn", 4],
        "react/jsx-indent": [
            "warn",
            4
        ],
        "no-console": ["warn"]
    }
}