.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

.align-items--center {
    align-items: center;
}
.btn-border--1 {
    border-width: 1px;
}
.map-clear {
    position: relative;
    top: 28px;
    right: 1px;
}

.map-select {
    position: relative;
    top: -5px;

}
.map.lock {
   height: 300px;
   box-shadow: 0px 0px 1px 2px rgba(96,125,156,1);
}

.pointer {
    cursor: pointer;
}

.avatar {
    background: #efefef;
    background-size: 100%;
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;

}
.fixedDataTableCellLayout_main {
    border-right-style: none !important;
}
.fixedDataTableLayout_main {
    border-left: 0 !important;
    border-right: 0 !important;
    border-color: #c6d2e1 !important;
}
.public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-image: linear-gradient(#fff, #c6d2e1) !important;
}

.no-select {
    user-select: none;
}
svg text {
cursor: default;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}