.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

.align-items--center {
    align-items: center;
}
.btn-border--1 {
    border-width: 1px;
}
.map-clear {
    position: relative;
    top: 28px;
    right: 1px;
}

.map-select {
    position: relative;
    top: -5px;

}

.pointer {
    cursor: pointer;
}